{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}
<header class="site-header">
  <div class="container bar">
    <a class="brand" href="{=site.url}">
      <img class="logo-light" src="{=site.url('images/logo.svg')}" alt="MCSD" width="271" height="89">
      <img class="logo-dark" src="{=site.url('images/logo-dark.svg')}" alt="" aria-hidden="true" width="271" height="89">
      <span class="brand-name">Miss Catherine's<br>School of Dance</span>
    </a>
    <input type="checkbox" id="nav-toggle" class="nav-toggle-input" aria-label="Toggle menu">
    <label for="nav-toggle" class="nav-toggle"><span></span></label>
    <nav class="site-nav" aria-label="Main navigation">
      <ul>
        <li><a href="{=site.url}">Home</a></li>
        <li><a href="{=site.url('enrolments')}">Enrolments</a></li>
        <li><a href="{=site.url('what-to-wear')}">What to Wear</a></li>
        <li><a href="{=site.url('timetable-fees')}">Timetable &amp; Fees</a></li>
        <li><a href="{=site.url('location')}">Location</a></li>
        <li><a href="{=site.url('photos')}">Photos</a></li>
        <li>
          <a href="{=site.url('concert-info')}">Concert 2026</a>
          <ul>
            <li><a href="{=site.url('concert-info')}">Concert Info 2026</a></li>
            <li><a href="{=site.url('junior-concert-info')}">Junior Concert Info 2026</a></li>
            <li><a href="{=site.url('seniors-info')}">Seniors Info</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <p class="notice"><a href="{=site.url('enrolments')}">2027 new student enrolments open January</a></p>
</header>
